@font-face {
  font-family: "nunitobold";
  src        : url("../fonts/nunito-bold-webfont.woff2") format('woff2'), url("../fonts/nunito-bold-webfont.woff") format('woff'), url("../fonts/nunito-bold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style : normal;

}

@font-face {
  font-family: "nunitoregular";
  src        : url("../fonts/nunito-regular-webfont.ttf") format('truetype'), url("../fonts/nunito-regular-webfont.woff2") format('woff2'), url("../fonts/nunito-regular-webfont.woff") format('woff');

  font-weight: normal;
  font-style : normal;

}

.fundraiserbanner {
  height: 170px;
}

.background {
  position           : relative;
  min-height         : 150px;
  background-image   : url("../img/1-departure-xs-banner.jpg");
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
  overflow           : hidden;

}

.message {
  z-index   : 2;
  max-height: 112px;
  overflow  : hidden;

}

.message p {
  font-family: "nunitoregular";
  color      : white;
  padding    : 5px;
  font-size  : 14px;
  line-height: 22px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.95),
  0 1px 3px rgba(0,0,0,0.65),
  0 2px 4px rgba(0,0,0,0.2);

}

.join-btn {
  height  : 55px;
  position: fixed;
  left    : 1%;
  top     : 85px;
}

/* Change this color is it's not looking good on the background */
.highlight {
  font-family: "nunitobold";
  color      : #ffdd47;
}

/*A text to hide when there is no space left*/
/* .plus-text {
  display: none;
} */

/* Donation Bar */

.progresswidget {
  position     : absolute;
  bottom       : 0;
  padding-right: 0;
  padding-left : 0;
  height       : 18px;
  z-index      : 1;
  width        : 100%;
}

.progress {
  height       : 18px;
  border-radius: 0;
  background   : #ECE1FF;
  box-shadow   : 0 0 0;

}

.progress-bar-info {

  background-color: #FF79AD;

  box-shadow      : 0 0 0;
  position        : absolute;
  top             : 0;
  left            : 0;
}

.percentage {
  font-size    : 14px;
  line-height  : 8px;
  position     : absolute;
  padding      : 5px 6px;
  border-radius: 50px;
  right        : -2px;
  z-index      : 1;
  padding-left : 8px;
}

.goal {
  font-size  : 14.5px;
  line-height: 3px;
  position   : absolute;
  top        : 4px;
  color      : #24005B;
  padding    : 3px 6px;
  /*border-radius: 50px;*/
  right      : -1px;

  /*Overlapping fix*/
  /*
  right: 11px;
  top: -22px;
  color: black;
  background: #FF79AD;
  padding: 8px 6px;
  border-radius: 50px; */

}

/* Media Queries */
/* Small devices (tablets, 768px and up) */
@media (min-width: 480px) {
  .percentage {
    font-size  : 13px;
    line-height: 8px;
    top        : -3px;
    padding    : 6px;
  }

  .background {
    background-image: url("../img/1-departure-sm-banner.jpg");
  }

  .message p {
    margin   : 5px;
    font-size: 16px;
  }

  .join-btn {
    height: 58px;
    top   : 79px;
  }
}

@media (min-width: 768px) {
  .background {
    padding-top: 7px;
  }

  .percentage {
    font-size: 17px;
    top      : -1px;
  }

  .message p {
    width         : 100%;
    padding       : 5px;
    font-size     : 17px;
    line-height   : 25px;
    padding-bottom: 0;
    margin        : 4px;
    font-size     : 150%;
  }

  /*.plus-text {
    display: inline;
  }*/

  .background {
    background-image: url("../img/1-departure-md-banner.jpg");
  }

  .join-btn {
    height  : 60px;
    position: inherit;
  }

}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .background {
    padding-top: 30px;
  }

  .donate {
    margin-left: 40px;
    width      : 120px;
  }

  .join-btn {
    height: 60px;
  }

}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .background {
    padding-top: 20px;
  }

  .message p {
    padding    : 10px;
    font-size  : 150%;
    line-height: 1.4em;
  }

  .background {
    background-image: url("../img/1-departure-lg-banner.jpg");
  }

  .content {
    max-width: 1200px !important;
    position : relative;
    margin   : 0 auto;
  }

  .progresswidget {
    padding-right: 0;
    padding-left : 0;
    width        : 100%;
    bottom       : 0;
  }

  .join-btn {
    height: 64px;
  }
}

/* We don't need to display a banner at this size! */
@media (max-width:300px) {
  .fundraiserbanner {
    /* display: none; */
  }

  .message p {
    display: none;
  }

  .join-btn {
    position: inherit;
    margin-top: 30%;
  }
}
